n8n/Asistente-OpenAI-Whatsapp-Api.json
{
  "name": "Asistente OpenAI - WhatsApp API",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "b2ac6f12-a83e-4de8-a80d-b3422e1af475",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        16,
        -192
      ],
      "webhookId": "wa-asistente-aybar",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "ZU5BA9VOXghhBOAn",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst message = item.messages?.[0] || null;\nconst contact = item.contacts?.[0] || null;\n\nif (!message) return [];\n\nconst tipo = message['type'];\nlet texto = '';\n\nif (tipo === 'text')   texto = message['text']?.body ?? '';\nif (tipo === 'button') texto = message['button']?.text ?? '';\nif (tipo === 'interactive') {\n  texto = message['interactive']?.button_reply?.title\n       ?? message['interactive']?.list_reply?.title ?? '';\n}\n\nif (!texto) return [];\n\nreturn [{\n  json: {\n    from:      message['from'],\n    messageId: message['id'],\n    tipo,\n    texto,\n    nombre: contact?.['profile']?.name ?? 'Cliente'\n  }\n}];\n"
      },
      "id": "cad83a15-5074-427c-9981-a743d8fc96b0",
      "name": "Parsear Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -192
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto }}",
        "options": {
          "systemMessage": "Eres \"Aya\", la asistente virtual de Aybar Corp SAC, empresa inmobiliaria peruana.\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nFLUJO DE BIENVENIDA\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nCuando el cliente escriba por primera vez (hola, buenos dГӯas, etc.), \nresponde EXACTAMENTE asГӯ:\n\"ВЎHola! рҹ‘Ӣ Bienvenido a *Aybar Corp SAC*.\nSoy Aya, tu asistente virtual. ВҝEn quГ© puedo ayudarte hoy?\n1пёҸвғЈ Soy cliente вҖ” consultar mis proyectos\n2пёҸвғЈ Quiero comprar вҖ” informaciГіn de proyectos\n3пёҸвғЈ InformaciГіn de la empresa\n4пёҸвғЈ Hablar con un asesor\"\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nFLUJO CLIENTE (opciГіn 1)\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nCuando el cliente elija opciГіn 1 o mencione que es cliente, responde:\n\"Perfecto рҹҳҠ Para consultar tus proyectos, por favor brГӯndame tu nГәmero de *DNI*.\"\nAl recibir el DNI:\n- IMPORTANTE: Un DNI vГЎlido tiene exactamente 8 dГӯgitos numГ©ricos. Los ceros al inicio son vГЎlidos (ej: 09462452).\n- Llama al tool: consultar_proyectos con el DNI recibido.\n- La API devolverГЎ un JSON con estos campos:\n  В· \"apellidos_nombres\" вҶ’ nombre completo del cliente\n  В· \"empresas\" вҶ’ array con los proyectos, cada uno tiene \"razon_social\"\n- Con esa data real, responde EXACTAMENTE asГӯ (sustituyendo los valores reales):\n\"Hola *{apellidos_nombres}* рҹ‘Ӣ\nVeo que tienes proyectos con nosotros en:\n{lista de empresas[i].razon_social con viГұeta вҖў por cada una}\nВҝTe gustarГӯa consultar el detalle de algГәn proyecto? рҹҸ \"\nEJEMPLO de respuesta correcta:\n\"Hola *BOLAГ‘OS ATALAYA ADELAIDA* рҹ‘Ӣ\nVeo que tienes proyectos con nosotros en:\nвҖў AYBAR CORP. S.A.C\nвҖў VIVANORTE S.A.C\nВҝTe gustarГӯa consultar el detalle de algГәn proyecto? рҹҸ \"\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nFLUJO CONSULTAR LOTES\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nDespuГ©s de mostrar las empresas del cliente, si pide ver sus lotes:\n1. Pregunta: \"ВҝDe cuГЎl empresa quieres ver tus lotes?\n   вҖў AYBAR CORP. S.A.C\n   вҖў VIVANORTE S.A.C\n   вҖў PONTEVEDRA S.A.C\n   (lista solo las que tiene el cliente)\"\n2. Con la empresa seleccionada, toma de la respuesta anterior de consultar_proyectos:\n   - El \"codigo\" de esa empresa вҶ’ usar como id_cliente\n   - El \"id_empresa\" de esa empresa вҶ’ usar como id_empresa\n3. Llama al tool: consultar_lotes con esos dos valores.\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nFLUJO COMPRADOR (opciГіn 2)\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nPregunta: ВҝQuГ© tipo de proyecto te interesa?\nвҖў Terrenos residenciales\nвҖў Lotes industriales\nвҖў Proyectos en entrega\nDeriva a asesor para cierre comercial.\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nESCALADO A ASESOR (opciГіn 4 o solicitud)\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nSi el cliente pide hablar con un asesor, responde:\n\"Entendido рҹ“һ En breve un asesor de Aybar Corp se comunicarГЎ contigo.\nHorario de atenciГіn: Lunes a Viernes 8am - 6pm | SГЎbados 9am - 1pm\"\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nREGLAS IMPORTANTES\nв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җв•җ\nвң… Responde SIEMPRE en espaГұol, amable y profesional\nвң… Usa emojis con moderaciГіn para calidez\nвң… NUNCA inventes datos de proyectos, pagos o contratos\nвң… Si no sabes algo, deriva al asesor humano\nвң… Valida que el DNI tenga exactamente 8 dГӯgitos antes de consultar\nвң… MantГ©n respuestas concisas (mГЎximo 5 lГӯneas por mensaje)"
        }
      },
      "id": "9f93f5bd-a122-48e5-9998-a8f686c7bdca",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        592,
        -192
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "2a88d0b3-e457-49e1-ad30-08c8f24c9b45",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "q695YCGVaztjeNOj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.from }}",
        "contextWindowLength": 10
      },
      "id": "d479d0cb-dd22-453b-8d22-bc9d0ba660a1",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        16
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "111079285343903",
        "recipientPhoneNumber": "={{ $('Parsear Mensaje').item.json.from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "c002d23f-6d2a-4945-b54e-2809a82cde7f",
      "name": "Send message",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1056,
        -192
      ],
      "webhookId": "556a9e67-dd86-4cae-80a8-54b2f3b033d3",
      "credentials": {
        "whatsAppApi": {
          "id": "wsfypPUomJK3uU3v",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Consulta los proyectos de un cliente dado su nГәmero de DNI de 8 dГӯgitos. \nГҡsalo cuando el cliente proporcione su DNI para ver sus proyectos en Aybar Corp.",
        "url": "=https://aybarcorp.com/slin/cliente/{{ $fromAI('dni', 'NГәmero de DNI del cliente, exactamente 8 dГӯgitos numГ©ricos') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        624,
        48
      ],
      "id": "4c6c7f20-900e-47fd-977c-d0edbe8fb6ac",
      "name": "consultar_proyectos"
    },
    {
      "parameters": {
        "toolDescription": "Consulta los lotes de un cliente en una empresa especГӯfica.\nГҡsalo cuando el cliente quiera ver sus lotes despuГ©s de seleccionar una empresa.\nLa data de id_cliente e id_empresa ya viene de la respuesta de consultar_proyectos:\n- id_cliente = campo \"codigo\" de la empresa seleccionada (ej: C06900)\n- id_empresa = campo \"id_empresa\" de la empresa seleccionada (ej: 014)\n",
        "url": "=https://aybarcorp.com/slin/lotes?id_cliente={{ $fromAI('id_cliente', 'CГіdigo del cliente en esa empresa, campo \"codigo\" de consultar_proyectos, ej: C06900') }}&id_empresa={{ $fromAI('id_empresa', 'ID de la empresa: 014=AYBAR CORP, 018=PONTEVEDRA, 019=VIVANORTE') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        848,
        48
      ],
      "id": "8b368cc6-ff41-44ba-b5eb-a391688c8365",
      "name": "consultar_lotes"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Parsear Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Mensaje": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "consultar_proyectos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_lotes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "54bab0c7-cb42-43bf-a47b-89de15b3120c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c433c71318b007b5f27973859b26f7f0e1a6fc93061cfcb9f59fb9bcba4cdc6f"
  },
  "id": "rKkqkAiefBbJDXq4",
  "tags": []
}