n8n/EntregaFestWSP/✅ Laravel -_ Enviar Pre-Invitaciones (WhatsApp Masivo) (1).json
{
  "name": "✅ Laravel -> Enviar Pre-Invitaciones (WhatsApp Masivo)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "preinvitacion-whatsapp",
        "options": {}
      },
      "id": "05f9ce97-cac5-444c-8157-69e6b424c858",
      "name": "Webhook (recibe de Laravel)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        48
      ],
      "webhookId": "b1a2c3d4-e5f6-7890-abcd-ef1234567890"
    },
    {
      "parameters": {
        "jsCode": "// Extrae la lista de contactos del body enviado por Laravel\nconst body = $json.body ?? $json;\nconst contactos = body.contactos ?? [];\nconst evento = body.evento ?? '';\nconst fecha = body.fecha ?? '';\nconst mensaje = body.mensaje ?? '';\n\n// Convierte cada contacto en un item separado\n// El celular debe tener código de país: 51XXXXXXXXX (Perú)\nreturn contactos.map(c => {\n  let celular = (c.celular ?? '').toString().replace(/\\D/g, ''); // solo dígitos\n  if (celular.length === 9) celular = '51' + celular; // agrega +51 Perú\n  return {\n    json: {\n      celular,\n      nombres: c.nombres,\n      email:   c.email ?? '',\n      dni:     c.dni ?? '',\n      evento,\n      fecha,\n      mensaje\n    }\n  };\n});"
      },
      "id": "5b8af110-6f09-4a7c-9515-3307d65c7384",
      "name": "Expandir contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        48
      ]
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "id": "6c7ee557-0a47-43ac-9a25-848573a2e663",
      "name": "Split en lotes de 20",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        128
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "588ee282-073d-4c2b-9167-e809f3e603b6",
      "name": "Esperar 3s entre lotes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1184,
        128
      ],
      "webhookId": "wa-wait-preinvitacion"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wa-set-1",
              "name": "status",
              "value": "completado",
              "type": "string"
            },
            {
              "id": "wa-set-2",
              "name": "mensaje",
              "value": "Todos los mensajes WhatsApp de pre-invitación fueron enviados",
              "type": "string"
            },
            {
              "id": "wa-set-3",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "wa-set-4",
              "name": "workflow",
              "value": "Laravel -> Pre-Invitaciones WhatsApp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        0
      ],
      "id": "f5c3e645-55c3-404d-8c69-b2f708c72262",
      "name": "Resumen Final"
    },
    {
      "parameters": {
        "phoneNumberId": "111079285343903",
        "recipientPhoneNumber": "={{ $json.celular }}",
        "template": "hello_world|en_US"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        960,
        144
      ],
      "id": "f4c82b14-bbc3-496b-80d0-e1dbf7e509d9",
      "name": "Send template",
      "webhookId": "f2dd0443-4a47-4744-8aa1-3893e81e9bb5",
      "credentials": {
        "whatsAppApi": {
          "id": "wsfypPUomJK3uU3v",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (recibe de Laravel)": {
      "main": [
        [
          {
            "node": "Expandir contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir contactos": {
      "main": [
        [
          {
            "node": "Split en lotes de 20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split en lotes de 20": {
      "main": [
        [
          {
            "node": "Resumen Final",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar 3s entre lotes": {
      "main": [
        [
          {
            "node": "Split en lotes de 20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send template": {
      "main": [
        [
          {
            "node": "Esperar 3s entre lotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ecbdd21f-44eb-4162-a5bf-5d41ad0c3e3a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c433c71318b007b5f27973859b26f7f0e1a6fc93061cfcb9f59fb9bcba4cdc6f"
  },
  "id": "bmgDQQY3NOHPXeNp",
  "tags": []
}