n8n/EntregaFestWSP/✅Entrega Fest - Asistencia Confirmacion (Email + WhatsApp) (3).json
{
  "name": "✅Entrega Fest - Asistencia Confirmacion (Email + WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "entregafest-asistencia-confirmacion",
        "options": {}
      },
      "id": "ffc13729-d1fd-4a50-953a-368ded494a63",
      "name": "webhook-laravel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        368
      ],
      "webhookId": "37f4936c-3d37-48b0-86aa-e04167fb79cf"
    },
    {
      "parameters": {
        "jsCode": "// Extrae los datos del body enviado por Laravel\nconst body = $json.body ?? $json;\n\n// En este flujo siempre recibimos un solo \"contacto\"\nconst contacto = body.contacto; \nconst evento = body.evento ?? '';\nconst plantilla = body.plantilla ?? {};\n\n// Usamos el título de la plantilla como asunto\nconst asunto = plantilla.titulo ?? 'Confirmación de Registro';\n\n// 1. Validamos que exista el contacto\nif (!contacto) return [];\n\n// 2. Solo procesamos si tiene al menos un canal pendiente de envío\n// Esto evita que el flujo avance si ya se enviaron ambos comunicados (Email y WhatsApp)\nif (!contacto.enviar_email && !contacto.enviar_whatsapp) {\n    return [];\n}\n\nreturn [{\n    json: {\n        ...contacto, // Incluye automáticamente id, nombres, email, celular, enviar_email, enviar_whatsapp, etc.\n        asunto: asunto,\n        evento: evento,\n        // --- CAMPOS DE LA PLANTILLA ---\n        plantilla_titulo: plantilla.titulo ?? '',\n        plantilla_subtitulo: plantilla.subtitulo ?? '',\n        plantilla_descripcion: plantilla.descripcion ?? '',\n        plantilla_imagen: plantilla.imagen_url ?? '',\n        plantilla_link_boton: plantilla.link_boton ?? ''\n    }\n}];\n"
      },
      "id": "d237b671-3d5f-4da4-af9c-602460e8b461",
      "name": "formatear-contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        368
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "9a382b9b-016c-4b13-a3cc-5af5de923107",
      "name": "split-10-contactos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -432,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54029fa4-1ed0-4a3f-bf38-05544953a62e",
              "name": "status",
              "value": "completado",
              "type": "string"
            },
            {
              "id": "081cfbc4-078a-4b72-b282-285a0d7faf6a",
              "name": "mensaje",
              "value": "Todos los correos de invitación fueron enviados",
              "type": "string"
            },
            {
              "id": "30f6259a-9cb5-4c3f-aa4e-ca64cb72cdf0",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "2beb95d4-233b-4be9-81e1-209888d24966",
              "name": "workflow",
              "value": "Laravel -> Enviar Pre-Invitaciones",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        416
      ],
      "id": "01837c6f-509e-431a-9674-19ded690d326",
      "name": "resumen-1"
    },
    {
      "parameters": {
        "jsCode": "const resultados = $(\"enviar-mensaje-wsp9\").all();\nconst datosOriginales = $(\"formatear-contactos\").all(); // Traemos todos los nombres\n\nconst exitosos = resultados.filter(r => r.json.messaging_product || r.json.messages).length;\nconst fallidos = resultados.length - exitosos;\nconst total = resultados.length;\n\nlet logDetallado = \"Resumen de envíos por WhatsApp:\\n\";\nresultados.forEach((r, index) => {\n    const status = (r.json.messaging_product || r.json.messages) ? \"✅ OK\" : \"❌ Error\";\n    // Buscamos el nombre que corresponde a esta vuelta del loop (index)\n    const nombre = datosOriginales[index].json.nombres; \n    logDetallado += `${index + 1}. ${nombre}: ${status}\\n`;\n});\n\nreturn { exitosos, fallidos, total, logDetallado, fecha: new Date().toLocaleString() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        416
      ],
      "id": "0d88bbd8-695b-4ad9-97b0-8563bb63b775",
      "name": "formatear-resultados-1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plataforma-digital.aybarcorp.com/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "whatsapp"
            },
            {
              "name": "mensaje",
              "value": "={{ $node[\"formatear-contactos\"].json.link }}"
            },
            {
              "name": "etapa",
              "value": "={{ $('webhook-laravel').item.json.body.etapa }}"
            },
            {
              "name": "estado",
              "value": "={{ $json.key ? 'enviado' : 'fallido' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        608
      ],
      "id": "b6c6877a-8069-44c3-9005-36dd7f546439",
      "name": "set-laravel-mensaje-1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "adm-response@aybarsac.com",
        "subject": "=LOG Final: {{ $json.total }} correos enviados",
        "html": "=<h3>Reporte de Envío - Entrega Fest</h3>\n<p>El proceso ha finalizado con los siguientes resultados:</p>\n\n<ul>\n    <li><b>Total de personas marcadas:</b> {{ $json.total }}</li>\n    <li><b>Envíos exitosos:</b> {{ $json.exitosos }}</li>\n    <li><b>Envíos fallidos:</b> {{ $json.fallidos }}</li>\n    <li><b>Fecha de fin:</b> {{ $json.fecha }}</li>\n</ul>\n\n<hr>\n<h4>Detalle por cada destinatario:</h4>\n<pre style=\"background: #f4f4f4; padding: 10px; border-radius: 5px;\">\n{{ $json.logDetallado }}\n</pre>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        416
      ],
      "id": "1ecdd67b-b0b2-486e-8e9b-e7cdc699e931",
      "name": "enviar-email-constancia-1",
      "webhookId": "37f96570-aa4f-45cf-a0b8-80e16c89ac9c",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "amount": 45
      },
      "id": "e629b16b-677a-4e03-be59-c49ef6f27beb",
      "name": "espera-45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        608
      ],
      "webhookId": "5d5e96f5-ea9a-4973-940d-d4a7035c12a2"
    },
    {
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "id": "cee71a86-c213-4872-9fb1-9626742a68b6",
      "name": "split-25-contactos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54029fa4-1ed0-4a3f-bf38-05544953a62e",
              "name": "status",
              "value": "completado",
              "type": "string"
            },
            {
              "id": "081cfbc4-078a-4b72-b282-285a0d7faf6a",
              "name": "mensaje",
              "value": "Todos los correos de invitación fueron enviados",
              "type": "string"
            },
            {
              "id": "30f6259a-9cb5-4c3f-aa4e-ca64cb72cdf0",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "2beb95d4-233b-4be9-81e1-209888d24966",
              "name": "workflow",
              "value": "Laravel -> Enviar Pre-Invitaciones",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "baeaf4be-b9ad-4608-95b0-3537fd4caaae",
      "name": "resumen-2"
    },
    {
      "parameters": {
        "jsCode": "const resultados = $(\"enviar-mensaje-email\").all();\nconst datosOriginales = $(\"formatear-contactos\").all(); // Para traer los nombres\n\nconst exitosos = resultados.filter(r => r.json.accepted && r.json.accepted.length > 0).length;\nconst fallidos = resultados.length - exitosos;\nconst total = resultados.length;\n\nlet logDetallado = \"Resumen de envíos por Email:\\n\";\nresultados.forEach((r, index) => {\n    const status = (r.json.accepted && r.json.accepted.length > 0) ? \"✅ OK\" : \"❌ Error\";\n    // Traemos el nombre y el correo original de la expansión\n    const nombre = datosOriginales[index].json.nombres;\n    const email = datosOriginales[index].json.email;\n    logDetallado += `${index + 1}. ${nombre} (${email}): ${status}\\n`;\n});\n\nreturn { exitosos, fallidos, total, logDetallado, fecha: new Date().toLocaleString() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ],
      "id": "5d4ccd5c-9c97-4be8-8b29-31182b919093",
      "name": "formatear-resultados-2"
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "adm-response@aybarsac.com",
        "subject": "=LOG Final: {{ $json.total }} correos enviados",
        "html": "=<h3>Reporte de Envío - Entrega Fest</h3>\n<p>El proceso ha finalizado con los siguientes resultados:</p>\n\n<ul>\n    <li><b>Total de personas marcadas:</b> {{ $json.total }}</li>\n    <li><b>Envíos exitosos:</b> {{ $json.exitosos }}</li>\n    <li><b>Envíos fallidos:</b> {{ $json.fallidos }}</li>\n    <li><b>Fecha de fin:</b> {{ $json.fecha }}</li>\n</ul>\n\n<hr>\n<h4>Detalle por cada destinatario:</h4>\n<pre style=\"background: #f4f4f4; padding: 10px; border-radius: 5px;\">\n{{ $json.logDetallado }}\n</pre>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        0
      ],
      "id": "b53d6551-4c31-4acb-8edf-3539a9a89d21",
      "name": "enviar-email-constancia-2",
      "webhookId": "b2bcb176-e55f-4168-a869-caeacca3b1d7",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "amount": 12
      },
      "id": "6af60387-d9be-4b3a-a77b-901778439c55",
      "name": "espera-12s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        176
      ],
      "webhookId": "de87ac8a-583e-4246-b2e0-029039f514df"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plataforma-digital.aybarcorp.com/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "email"
            },
            {
              "name": "mensaje",
              "value": "={{ $node[\"formatear-contactos\"].json.link }}"
            },
            {
              "name": "estado",
              "value": "={{ $json.accepted?.length > 0 ? 'enviado' : 'invalido' }}"
            },
            {
              "name": "etapa",
              "value": "={{ $('webhook-laravel').item.json.body.etapa }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        176
      ],
      "id": "8e0f0527-ea05-467a-aa73-7a1fa4bab420",
      "name": "set-laravel-mensaje-2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.asunto }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "edde18d3-f105-4697-9c59-732cfdd24231",
      "name": "enviar-mensaje-email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        176
      ],
      "webhookId": "165a8a38-ff1d-4293-b7bf-554c97facfce",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2a74c313-60d2-4a9f-ac68-5cbc26d4e552",
              "leftValue": "={{ $json.enviar_whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -208,
        608
      ],
      "id": "05484507-d77c-4e27-9e6d-62da3ba6f3aa",
      "name": "filtro-1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2a74c313-60d2-4a9f-ac68-5cbc26d4e552",
              "leftValue": "={{$json.enviar_email }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -224,
        176
      ],
      "id": "7fd3d03e-7c7c-48b9-9f0a-5c5450003d71",
      "name": "filtro-2"
    },
    {
      "parameters": {
        "phoneNumberId": "111079285343903",
        "recipientPhoneNumber": "={{ $json.celular }}",
        "template": "entregafest_invitacion_confirmacion|es_PE",
        "components": {
          "component": [
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "={{ $json.plantilla_imagen }}"
                  }
                ]
              }
            },
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.nombres }}"
                  },
                  {
                    "text": "={{ $json.plantilla_titulo }}"
                  },
                  {
                    "text": "={{ $json.plantilla_subtitulo }}"
                  },
                  {
                    "text": "={{ $json.plantilla_descripcion }}"
                  },
                  {
                    "text": "={{ $json.link }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        32,
        608
      ],
      "id": "4aa42752-2018-4bba-897b-84ad3c9f6c0e",
      "name": "enviar-mensaje-wsp",
      "webhookId": "8f5321c5-f755-43db-8616-90a77cb6512e",
      "credentials": {
        "whatsAppApi": {
          "id": "wsfypPUomJK3uU3v",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "webhook-laravel": {
      "main": [
        [
          {
            "node": "formatear-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-contactos": {
      "main": [
        [
          {
            "node": "split-10-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-10-contactos": {
      "main": [
        [],
        [
          {
            "node": "filtro-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resumen-1": {
      "main": [
        [
          {
            "node": "formatear-resultados-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-resultados-1": {
      "main": [
        [
          {
            "node": "enviar-email-constancia-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-laravel-mensaje-1": {
      "main": [
        [
          {
            "node": "espera-45s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera-45s": {
      "main": [
        [
          {
            "node": "split-10-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-25-contactos": {
      "main": [
        [
          {
            "node": "resumen-2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "filtro-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resumen-2": {
      "main": [
        [
          {
            "node": "formatear-resultados-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-resultados-2": {
      "main": [
        [
          {
            "node": "enviar-email-constancia-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera-12s": {
      "main": [
        [
          {
            "node": "split-25-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-laravel-mensaje-2": {
      "main": [
        [
          {
            "node": "espera-12s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-email": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtro-1": {
      "main": [
        [
          {
            "node": "enviar-mensaje-wsp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtro-2": {
      "main": [
        [
          {
            "node": "enviar-mensaje-email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-wsp": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1f72b97c-2aeb-4e59-ae5b-09dcf67a66a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c433c71318b007b5f27973859b26f7f0e1a6fc93061cfcb9f59fb9bcba4cdc6f"
  },
  "id": "aMnJdtCuLIVf3sgC",
  "tags": []
}