n8n/EntregaFestWSP/✅Entrega Fest - Asistencia Confirmacion (Email + WhatsApp).json
{
  "name": "✅Entrega Fest - Asistencia Confirmacion (Email + WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "entregafest-asistencia-confirmacion",
        "options": {}
      },
      "id": "26b4559e-7b26-4173-a9cd-8c71c2bf3aaa",
      "name": "webhook-laravel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        368
      ],
      "webhookId": "1de8a2c3-6398-47d0-8970-1fc63c8c5260"
    },
    {
      "parameters": {
        "jsCode": "// Extrae los datos del body enviado por Laravel\nconst body = $json.body ?? $json;\n\n// En este flujo siempre recibimos un solo \"contacto\"\nconst contacto = body.contacto; \nconst evento = body.evento ?? '';\nconst plantilla = body.plantilla ?? {};\n\n// Usamos el título de la plantilla como asunto\nconst asunto = plantilla.titulo ?? 'Confirmación de Registro';\n\n// 1. Validamos que exista el contacto\nif (!contacto) return [];\n\n// 2. Solo procesamos si tiene al menos un canal pendiente de envío\n// Esto evita que el flujo avance si ya se enviaron ambos comunicados (Email y WhatsApp)\nif (!contacto.enviar_email && !contacto.enviar_whatsapp) {\n    return [];\n}\n\nreturn [{\n    json: {\n        ...contacto, // Incluye automáticamente id, nombres, email, celular, enviar_email, enviar_whatsapp, etc.\n        asunto: asunto,\n        evento: evento,\n        // --- CAMPOS DE LA PLANTILLA ---\n        plantilla_titulo: plantilla.titulo ?? '',\n        plantilla_subtitulo: plantilla.subtitulo ?? '',\n        plantilla_descripcion: plantilla.descripcion ?? '',\n        plantilla_imagen: plantilla.imagen_url ?? '',\n        plantilla_link_boton: plantilla.link_boton ?? ''\n    }\n}];\n"
      },
      "id": "adfb42fb-1ee0-4ed6-9eda-58659e5c748f",
      "name": "formatear-contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        368
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54029fa4-1ed0-4a3f-bf38-05544953a62e",
              "name": "status",
              "value": "completado",
              "type": "string"
            },
            {
              "id": "081cfbc4-078a-4b72-b282-285a0d7faf6a",
              "name": "mensaje",
              "value": "Todos los correos de invitación fueron enviados",
              "type": "string"
            },
            {
              "id": "30f6259a-9cb5-4c3f-aa4e-ca64cb72cdf0",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "2beb95d4-233b-4be9-81e1-209888d24966",
              "name": "workflow",
              "value": "Laravel -> Enviar Pre-Invitaciones",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        416
      ],
      "id": "dbaa63d8-f776-41bc-a3a0-dff3cf9883c4",
      "name": "resumen-1"
    },
    {
      "parameters": {
        "jsCode": "const resultados = $(\"enviar-mensaje-wsp\").all();\nconst datosOriginales = $(\"formatear-contactos\").all(); // Traemos todos los nombres\n\nconst exitosos = resultados.filter(r => r.json.messaging_product || r.json.messages).length;\nconst fallidos = resultados.length - exitosos;\nconst total = resultados.length;\n\nlet logDetallado = \"Resumen de envíos por WhatsApp:\\n\";\nresultados.forEach((r, index) => {\n    const status = (r.json.messaging_product || r.json.messages) ? \"✅ OK\" : \"❌ Error\";\n    // Buscamos el nombre que corresponde a esta vuelta del loop (index)\n    const nombre = datosOriginales[index].json.nombres; \n    logDetallado += `${index + 1}. ${nombre}: ${status}\\n`;\n});\n\nreturn { exitosos, fallidos, total, logDetallado, fecha: new Date().toLocaleString() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        416
      ],
      "id": "51e3d774-3a3b-4c83-9d79-796ad32c19f2",
      "name": "formatear-resultados-1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plataforma-digital.aybarcorp.com/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "whatsapp"
            },
            {
              "name": "mensaje",
              "value": "={{ $node[\"formatear-contactos\"].json.link }}"
            },
            {
              "name": "etapa",
              "value": "={{ $('webhook-laravel').item.json.body.etapa }}"
            },
            {
              "name": "estado",
              "value": "={{ $json.messages[0].id ? 'enviado' : 'fallido' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        608
      ],
      "id": "2cb99f9d-f30e-437c-bd78-5ad782d8f0e6",
      "name": "set-laravel-mensaje-1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "adm-response@aybarsac.com",
        "subject": "=LOG Final: {{ $json.total }} correos enviados",
        "html": "=<h3>Reporte de Envío - Entrega Fest</h3>\n<p>El proceso ha finalizado con los siguientes resultados:</p>\n\n<ul>\n    <li><b>Total de personas marcadas:</b> {{ $json.total }}</li>\n    <li><b>Envíos exitosos:</b> {{ $json.exitosos }}</li>\n    <li><b>Envíos fallidos:</b> {{ $json.fallidos }}</li>\n    <li><b>Fecha de fin:</b> {{ $json.fecha }}</li>\n</ul>\n\n<hr>\n<h4>Detalle por cada destinatario:</h4>\n<pre style=\"background: #f4f4f4; padding: 10px; border-radius: 5px;\">\n{{ $json.logDetallado }}\n</pre>\n",
        "options": {
          "ccEmail": "jefemediosycomunicaciones@aybarsac.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        416
      ],
      "id": "88e6baf5-8c07-4900-9dab-cc9ada27e123",
      "name": "enviar-email-constancia-1",
      "webhookId": "f3e0d7a0-409e-46b0-a7c7-93a91d70dafd",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "amount": 45
      },
      "id": "09d014c5-f657-46ca-adf4-8ade5438b53e",
      "name": "espera-45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        608
      ],
      "webhookId": "2080f80b-c57d-4ab8-8347-5e7e67a79c07"
    },
    {
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "id": "27437ab8-b96b-41fd-b5b6-6ea631f7b1a4",
      "name": "split-25-contactos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -448,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54029fa4-1ed0-4a3f-bf38-05544953a62e",
              "name": "status",
              "value": "completado",
              "type": "string"
            },
            {
              "id": "081cfbc4-078a-4b72-b282-285a0d7faf6a",
              "name": "mensaje",
              "value": "Todos los correos de invitación fueron enviados",
              "type": "string"
            },
            {
              "id": "30f6259a-9cb5-4c3f-aa4e-ca64cb72cdf0",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "2beb95d4-233b-4be9-81e1-209888d24966",
              "name": "workflow",
              "value": "Laravel -> Enviar Pre-Invitaciones",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "cd77db7f-5b96-4ee4-a933-bef86b2db038",
      "name": "resumen-2"
    },
    {
      "parameters": {
        "jsCode": "const resultados = $(\"enviar-mensaje-email\").all();\nconst datosOriginales = $(\"formatear-contactos\").all(); // Para traer los nombres\n\nconst exitosos = resultados.filter(r => r.json.accepted && r.json.accepted.length > 0).length;\nconst fallidos = resultados.length - exitosos;\nconst total = resultados.length;\n\nlet logDetallado = \"Resumen de envíos por Email:\\n\";\nresultados.forEach((r, index) => {\n    const status = (r.json.accepted && r.json.accepted.length > 0) ? \"✅ OK\" : \"❌ Error\";\n    // Traemos el nombre y el correo original de la expansión\n    const nombre = datosOriginales[index].json.nombres;\n    const email = datosOriginales[index].json.email;\n    logDetallado += `${index + 1}. ${nombre} (${email}): ${status}\\n`;\n});\n\nreturn { exitosos, fallidos, total, logDetallado, fecha: new Date().toLocaleString() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ],
      "id": "5050ca77-3948-4859-895c-f8c3b2a11cc4",
      "name": "formatear-resultados-2"
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "adm-response@aybarsac.com",
        "subject": "=LOG Final: {{ $json.total }} correos enviados",
        "html": "=<h3>Reporte de Envío - Entrega Fest</h3>\n<p>El proceso ha finalizado con los siguientes resultados:</p>\n\n<ul>\n    <li><b>Total de personas marcadas:</b> {{ $json.total }}</li>\n    <li><b>Envíos exitosos:</b> {{ $json.exitosos }}</li>\n    <li><b>Envíos fallidos:</b> {{ $json.fallidos }}</li>\n    <li><b>Fecha de fin:</b> {{ $json.fecha }}</li>\n</ul>\n\n<hr>\n<h4>Detalle por cada destinatario:</h4>\n<pre style=\"background: #f4f4f4; padding: 10px; border-radius: 5px;\">\n{{ $json.logDetallado }}\n</pre>\n",
        "options": {
          "ccEmail": "jefemediosycomunicaciones@aybarsac.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        0
      ],
      "id": "9bf82cf9-14a0-4342-a05f-7510eca423b6",
      "name": "enviar-email-constancia-2",
      "webhookId": "cf7ad81a-a109-4682-ab4d-35af54a7411b",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "amount": 12
      },
      "id": "b29ec78d-92eb-40ef-b51c-747abab66396",
      "name": "espera-12s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        176
      ],
      "webhookId": "ac184861-f9a6-4b28-9894-2dffaa9dd813"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plataforma-digital.aybarcorp.com/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "email"
            },
            {
              "name": "mensaje",
              "value": "={{ $node[\"formatear-contactos\"].json.link }}"
            },
            {
              "name": "estado",
              "value": "={{ $json.accepted?.length > 0 ? 'enviado' : 'fallido' }}"
            },
            {
              "name": "etapa",
              "value": "={{ $('webhook-laravel').item.json.body.etapa }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        176
      ],
      "id": "6a3f8429-e5ff-4d19-be2a-ae6d94489450",
      "name": "set-laravel-mensaje-2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.asunto }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "668b03bf-b40f-4e39-affe-fbac97ef044d",
      "name": "enviar-mensaje-email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        176
      ],
      "webhookId": "ec06bcb2-5382-4713-b259-64b0934618ab",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2a74c313-60d2-4a9f-ac68-5cbc26d4e552",
              "leftValue": "={{ $json.enviar_whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -208,
        608
      ],
      "id": "274582f8-68ae-4ea3-9cc1-16a6d2986cf0",
      "name": "filtro-1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2a74c313-60d2-4a9f-ac68-5cbc26d4e552",
              "leftValue": "={{$json.enviar_email }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -224,
        176
      ],
      "id": "7b7cc851-6f38-494b-b727-84f09a109f0d",
      "name": "filtro-2"
    },
    {
      "parameters": {
        "phoneNumberId": "1089842304211504",
        "recipientPhoneNumber": "={{ $json.celular }}",
        "template": "entregafest_invitacion_confirmacion|es_PE",
        "components": {
          "component": [
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "={{ $json.plantilla_imagen }}"
                  }
                ]
              }
            },
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.nombres }}"
                  },
                  {
                    "text": "={{ $json.plantilla_titulo }}"
                  },
                  {
                    "text": "={{ $json.plantilla_subtitulo }}"
                  },
                  {
                    "text": "={{ $json.plantilla_descripcion }}"
                  },
                  {
                    "text": "={{ $json.link }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        48,
        608
      ],
      "id": "101e79cb-3684-4972-9f44-fbf1d5c86587",
      "name": "enviar-mensaje-wsp",
      "webhookId": "0bda6392-c358-4bb6-a890-d344aa8e98d1",
      "credentials": {
        "whatsAppApi": {
          "id": "wsfypPUomJK3uU3v",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "c0130c26-aea9-4582-b2da-651ea5bf1ab2",
      "name": "split-10-contactos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -432,
        512
      ]
    }
  ],
  "pinData": {
    "webhook-laravel": [
      {
        "json": {
          "headers": {
            "host": "darcie-semitropical-todd.ngrok-free.dev",
            "user-agent": "GuzzleHttp/7",
            "content-length": "10304",
            "content-type": "application/json",
            "x-forwarded-for": "2a02:4780:27:1276:0:ed0:1310:1",
            "x-forwarded-host": "darcie-semitropical-todd.ngrok-free.dev",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "contacto": {
              "id": 12634,
              "nombres": "ACUÑA ESTREMADOYRO SUSAN IVETTE",
              "email": "SUACES100680@GMAIL.COM",
              "celular": "51996411615",
              "dni": "40556836",
              "tipo": "Propietario",
              "lote": "1",
              "link": "https://plataforma-digital.aybarcorp.com/asistencia-invitacion-propietario/entregafest-1ra-edicion-lachay-view-y-la-calera-6a300d76df263/12634",
              "transporte": "BUS",
              "acompanantes": "1",
              "observaciones": "",
              "html": "<!DOCTYPE html>\r\n<html>\r\n\r\n<head>\r\n    <meta charset=\"utf-8\">\r\n    <title>Tu Pase de Entrada - ENTREGAFEST 1RA EDICIÓN - LACHAY VIEW Y LA CALERA</title>\r\n    <style>\r\n        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');\r\n    </style>\r\n</head>\r\n\r\n<body style=\"margin:0; padding:0; font-family: 'Outfit', Helvetica, Arial, sans-serif; background-color: #f8f9fa;\">\r\n    <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"\r\n        style=\"background-color: #f8f9fa; padding: 40px 20px;\">\r\n        <tr>\r\n            <td align=\"center\">\r\n                <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"\r\n                    style=\"max-width: 600px; background-color: #ffffff; border-radius: 40px; overflow: hidden; box-shadow: 0 10px 30px rgba(0,0,0,0.1);\">\r\n                    <!-- HEADER GRADIENTE -->\r\n                    <tr>\r\n                        <td align=\"center\"\r\n                            style=\"background: linear-gradient(135deg, #f8cc00 0%, #ff7e33 100%); padding: 50px 30px 40px;\">\r\n                            <img src=\"https://aybarcorp.com/public/assets/entregafest/logo-entrega-fest-blanco.png\"\r\n                                alt=\"Entrega Fest\"\r\n                                style=\"width: 260px; max-width: 90%; height: auto; display: block; margin-bottom: 20px;\">\r\n                            <h1\r\n                                style=\"margin: 0; font-size: 22px; color: #004d55; text-transform: uppercase; letter-spacing: 1px; font-weight: 700;\">\r\n                                Tu Pase de Entrada 🎫\r\n                            </h1>\r\n                        </td>\r\n                    </tr>\r\n\r\n                    <!-- CUERPO -->\r\n                    <tr>\r\n                        <td style=\"padding: 40px; text-align: center;\">\r\n                            <h2 style=\"margin: 0 0 10px 0; color: #333333; font-size: 24px; font-weight: 700;\">\r\n                                ¡Hola, ACUÑA ESTREMADOYRO SUSAN IVETTE!\r\n                            </h2>\r\n                            <p style=\"margin: 0 0 30px 0; color: #555555; font-size: 16px; line-height: 1.6;\">\r\n                                Tu asistencia al evento <strong>ENTREGAFEST 1RA EDICIÓN - LACHAY VIEW Y LA CALERA</strong> ha sido confirmada. Aquí\r\n                                tienes tu pase oficial de ingreso:\r\n                            </p>\r\n\r\n                            <!-- TICKET BOX -->\r\n                            <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"\r\n                                style=\"background-color: #ffffff; border: 2px dashed #004d55; border-radius: 25px; margin-bottom: 35px; padding: 30px;\">\r\n                                <tr>\r\n                                    <td align=\"center\">\r\n                                        <p\r\n                                            style=\"margin: 0 0 20px 0; font-size: 11px; text-transform: uppercase; font-weight: 700; color: #004d55; letter-spacing: 1px;\">\r\n                                            Presenta este código al ingresar</p>\r\n\r\n                                        <div\r\n                                            style=\"background: #ffffff; padding: 15px; border-radius: 20px; display: inline-block; border: 1px solid #eeeeee; box-shadow: 0 5px 15px rgba(0,0,0,0.05);\">\r\n                                            <img src=\"https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=INV-009-7680\"\r\n                                                alt=\"QR Access\" style=\"width: 200px; height: 200px; display: block;\">\r\n                                        </div>\r\n\r\n                                        <p\r\n                                            style=\"margin: 20px 0 0 0; font-size: 26px; font-weight: 800; color: #004d55; letter-spacing: 5px;\">\r\n                                            INV-009-7680</p>\r\n                                    </td>\r\n                                </tr>\r\n                            </table>\r\n\r\n                            <!-- DETALLES -->\r\n                            <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\"\r\n                                style=\"background-color: #f8f9fa; border-radius: 20px; margin-bottom: 30px;\">\r\n                                <tr>\r\n                                    <td style=\"padding: 20px 25px;\">\r\n                                        <table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\">\r\n                                            <tr>\r\n                                                <td style=\"padding-bottom: 15px; border-bottom: 1px solid #eeeeee;\">\r\n                                                    <span\r\n                                                        style=\"font-size: 12px; color: #888888; text-transform: uppercase;\">Proyecto</span>\r\n                                                    <span\r\n                                                        style=\"float: right; font-weight: 700; color: #333333;\">LACHAY VIEW</span>\r\n                                                </td>\r\n                                            </tr>\r\n                                            <tr>\r\n                                                <td style=\"padding: 15px 0; border-bottom: 1px solid #eeeeee;\">\r\n                                                    <span\r\n                                                        style=\"font-size: 12px; color: #888888; text-transform: uppercase;\">Lote\r\n                                                        / Manzana</span>\r\n                                                    <span\r\n                                                        style=\"float: right; font-weight: 700; color: #333333;\">1\r\n                                                        / R3</span>\r\n                                                </td>\r\n                                            </tr>\r\n                                            <tr>\r\n                                                <td style=\"padding: 15px 0; border-bottom: 1px solid #eeeeee;\">\r\n                                                    <span\r\n                                                        style=\"font-size: 12px; color: #888888; text-transform: uppercase;\">Acompañantes</span>\r\n                                                    <span\r\n                                                        style=\"float: right; font-weight: 700; color: #333333;\">1</span>\r\n                                                </td>\r\n                                            </tr>\r\n                                            <tr>\r\n                                                <td style=\"padding-top: 15px;\">\r\n                                                    <span\r\n                                                        style=\"font-size: 12px; color: #888888; text-transform: uppercase;\">Transporte</span>\r\n                                                    <span\r\n                                                        style=\"float: right; font-weight: 700; color: #333333;\">Propio</span>\r\n                                                </td>\r\n                                            </tr>\r\n                                        </table>\r\n                                    </td>\r\n                                </tr>\r\n                            </table>\r\n\r\n                            <p\r\n                                style=\"margin: 0; color: #d32f2f; font-size: 14px; font-weight: 700; background: #fff1f2; padding: 12px; border-radius: 10px; display: inline-block;\">\r\n                                ⚠️ No olvides llevar tu DNI físico el día del evento.\r\n                            </p>\r\n                        </td>\r\n                    </tr>\r\n\r\n                    <!-- FOOTER -->\r\n                    <tr>\r\n                        <td align=\"center\"\r\n                            style=\"background-color: #f1f3f5; padding: 30px; border-top: 1px solid #eeeeee;\">\r\n                            <img src=\"https://aybarcorp.com/public/assets/entregafest/logo-aybar-corp-fondo-blanco.png\"\r\n                                alt=\"Aybar Corp\"\r\n                                style=\"width: 100px; margin-bottom: 10px; filter: grayscale(1); opacity: 0.5;\">\r\n                            <p style=\"margin: 0; color: #aaaaaa; font-size: 12px;\">\r\n                                &copy; 2026 Aybar Corp. Todos los derechos reservados.\r\n                            </p>\r\n                        </td>\r\n                    </tr>\r\n                </table>\r\n            </td>\r\n        </tr>\r\n    </table>\r\n</body>\r\n\r\n</html>",
              "enviar_email": true,
              "enviar_whatsapp": true
            },
            "evento": "ENTREGAFEST 1RA EDICIÓN - LACHAY VIEW Y LA CALERA",
            "plantilla": {
              "titulo": "Su asistencia ha sido confirmada",
              "subtitulo": "¡Lo esperamos este sábado 27 de junio!",
              "descripcion": "Su pase oficial de ingreso ha sido enviado al correo electrónico registrado. Asimismo, puede descargarlo directamente desde el siguiente enlace. Le solicitamos presentarlo impreso o en formato digital al momento de su ingreso al evento. ¡Será un gusto contar con su presencia en esta importante jornada!",
              "imagen_url": "https://plataforma-digital.aybarcorp.com/storage/entrega-fest/360/segundo-mensaje-wsp.jpg",
              "link_boton": ""
            },
            "etapa": "asistencia-confirmacion"
          },
          "webhookUrl": "https://n8n.aybarcorp.com/webhook/entregafest-asistencia-confirmacion",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "webhook-laravel": {
      "main": [
        [
          {
            "node": "formatear-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-contactos": {
      "main": [
        [
          {
            "node": "split-10-contactos",
            "type": "main",
            "index": 0
          },
          {
            "node": "split-25-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resumen-1": {
      "main": [
        [
          {
            "node": "formatear-resultados-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-resultados-1": {
      "main": [
        [
          {
            "node": "enviar-email-constancia-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-laravel-mensaje-1": {
      "main": [
        [
          {
            "node": "espera-45s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera-45s": {
      "main": [
        [
          {
            "node": "split-10-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-25-contactos": {
      "main": [
        [
          {
            "node": "resumen-2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "filtro-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resumen-2": {
      "main": [
        [
          {
            "node": "formatear-resultados-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-resultados-2": {
      "main": [
        [
          {
            "node": "enviar-email-constancia-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera-12s": {
      "main": [
        [
          {
            "node": "split-25-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-laravel-mensaje-2": {
      "main": [
        [
          {
            "node": "espera-12s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-email": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtro-1": {
      "main": [
        [
          {
            "node": "enviar-mensaje-wsp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtro-2": {
      "main": [
        [
          {
            "node": "enviar-mensaje-email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-wsp": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-10-contactos": {
      "main": [
        [
          {
            "node": "resumen-1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "filtro-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "731941d5-5632-4b69-b177-5d1d4b6f02ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c433c71318b007b5f27973859b26f7f0e1a6fc93061cfcb9f59fb9bcba4cdc6f"
  },
  "id": "sliIqsHNcqKfcfng",
  "tags": []
}