n8n/EntregaFestWSP/✅Entrega Fest - Asistencia Invitacion (Email + WhatsApp).json
{
  "name": "✅Entrega Fest - Asistencia Invitacion (Email + WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "adm-response@aybarsac.com",
        "subject": "=LOG Final: {{ $json.total }} correos enviados",
        "html": "=<h3>Reporte de Envío - Entrega Fest</h3>\n<p>El proceso ha finalizado con los siguientes resultados:</p>\n\n<ul>\n    <li><b>Total de personas marcadas:</b> {{ $json.total }}</li>\n    <li><b>Envíos exitosos:</b> {{ $json.exitosos }}</li>\n    <li><b>Envíos fallidos:</b> {{ $json.fallidos }}</li>\n    <li><b>Fecha de fin:</b> {{ $json.fecha }}</li>\n</ul>\n\n<hr>\n<h4>Detalle por cada destinatario:</h4>\n<pre style=\"background: #f4f4f4; padding: 10px; border-radius: 5px;\">\n{{ $json.logDetallado }}\n</pre>\n",
        "options": {
          "ccEmail": "jefemediosycomunicaciones@aybarsac.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        928,
        1120
      ],
      "id": "c45b991c-b77d-4f56-911e-97cb3e682dfe",
      "name": "Send an Email2",
      "webhookId": "636d7165-e771-48f6-961f-f95dc4315141",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "entregafest-asistencia-invitacion",
        "options": {}
      },
      "id": "87e74ba6-8f97-4107-8cb1-87e63f102432",
      "name": "webhook-laravel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -192,
        1168
      ],
      "webhookId": "36ead788-585d-49d9-9eb0-17f748354709"
    },
    {
      "parameters": {
        "jsCode": "// Extrae los datos del body enviado por Laravel\nconst body = $json.body ?? $json;\n\n// Mapeamos los campos según la nueva estructura\nconst titular = body.titular;\nconst copropietarios = body.copropietarios ?? [];\nconst evento = body.evento ?? '';\nconst plantilla = body.plantilla ?? {};\n\n// Usamos el título de la plantilla como asunto predeterminado\nconst asunto = plantilla.titulo ?? 'Invitación al evento';\n\nlet finalItems = [];\n\n// 1. Añadimos al Titular (Propietario) si existe y tiene envíos pendientes\nif (titular) {\n    if (titular.enviar_email || titular.enviar_whatsapp) {\n        finalItems.push({\n            json: {\n                id: titular.id,\n                email: titular.email,\n                nombres: titular.nombres,\n                celular: titular.celular ?? '',\n                dni: titular.dni ?? '',\n                link: titular.link,\n                html: titular.html,\n                tipo: 'Propietario',\n                asunto: asunto,\n                evento: evento,\n                // --- BANDERAS DE ENVÍO ---\n                enviar_email: titular.enviar_email,\n                enviar_whatsapp: titular.enviar_whatsapp,\n                // --- CAMPOS DE LA PLANTILLA ---\n                plantilla_titulo: plantilla.titulo ?? '',\n                plantilla_subtitulo: plantilla.subtitulo ?? '',\n                plantilla_descripcion: plantilla.descripcion ?? '',\n                plantilla_imagen: plantilla.imagen_url ?? '',\n                plantilla_link_boton: plantilla.link_boton ?? ''\n            }\n        });\n    }\n}\n\n// 2. Recorremos y añadimos a cada Copropietario si tiene envíos pendientes\ncopropietarios.forEach(cp => {\n    if (cp.enviar_email || cp.enviar_whatsapp) {\n        finalItems.push({\n            json: {\n                id: cp.id,\n                email: cp.email ?? '',\n                nombres: cp.nombres,\n                celular: cp.celular ?? '',\n                dni: cp.dni ?? '',\n                link: cp.link,\n                html: cp.html,\n                tipo: 'Copropietario',\n                asunto: asunto,\n                evento: evento,\n                // --- BANDERAS DE ENVÍO ---\n                enviar_email: cp.enviar_email,\n                enviar_whatsapp: cp.enviar_whatsapp,\n                // --- CAMPOS DE LA PLANTILLA ---\n                plantilla_titulo: plantilla.titulo ?? '',\n                plantilla_subtitulo: plantilla.subtitulo ?? '',\n                plantilla_descripcion: plantilla.descripcion ?? '',\n                plantilla_imagen: plantilla.imagen_url ?? '',\n                plantilla_link_boton: plantilla.link_boton ?? ''\n            }\n        });\n    }\n});\n\nreturn finalItems;\n"
      },
      "id": "203f4cb2-83c4-45f6-87a2-a55606f66d2f",
      "name": "formatear-contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        1168
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "99372344-ec8d-4c17-baa8-901f36262554",
      "name": "split-10-contactos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        1408
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54029fa4-1ed0-4a3f-bf38-05544953a62e",
              "name": "status",
              "value": "completado",
              "type": "string"
            },
            {
              "id": "081cfbc4-078a-4b72-b282-285a0d7faf6a",
              "name": "mensaje",
              "value": "Todos los correos de invitación fueron enviados",
              "type": "string"
            },
            {
              "id": "30f6259a-9cb5-4c3f-aa4e-ca64cb72cdf0",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "2beb95d4-233b-4be9-81e1-209888d24966",
              "name": "workflow",
              "value": "Laravel -> Enviar Pre-Invitaciones",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1120
      ],
      "id": "d4d9ea02-0f08-4123-9463-2fdeb878cacf",
      "name": "resumen-1"
    },
    {
      "parameters": {
        "jsCode": "const resultados = $(\"enviar-mensaje-wsp\").all();\nconst datosOriginales = $(\"formatear-contactos\").all(); // Traemos todos los nombres\n\nconst exitosos = resultados.filter(r => r.json.messaging_product || r.json.messages).length;\nconst fallidos = resultados.length - exitosos;\nconst total = resultados.length;\n\nlet logDetallado = \"Resumen de envíos por WhatsApp:\\n\";\nresultados.forEach((r, index) => {\n    const status = (r.json.messaging_product || r.json.messages) ? \"✅ OK\" : \"❌ Error\";\n    // Buscamos el nombre que corresponde a esta vuelta del loop (index)\n    const nombre = datosOriginales[index].json.nombres; \n    logDetallado += `${index + 1}. ${nombre}: ${status}\\n`;\n});\n\nreturn { exitosos, fallidos, total, logDetallado, fecha: new Date().toLocaleString() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        1120
      ],
      "id": "113e4f72-2f23-4823-83de-2be9e0fcf92e",
      "name": "formatear-resultados-1"
    },
    {
      "parameters": {
        "amount": 45
      },
      "id": "a121da24-ad9c-462a-9145-98e615a536fb",
      "name": "espera-45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1376,
        1504
      ],
      "webhookId": "b806a011-93f9-4c9d-9642-d2cf5ca732cd"
    },
    {
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "id": "deae4d6f-204b-4d2c-ae80-1f405df80aaf",
      "name": "split-25-contactos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        832
      ]
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.asunto }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "477e1d81-529b-4928-a601-8de5247b908f",
      "name": "enviar-mensaje-email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        704,
        832
      ],
      "webhookId": "abc84d18-6f38-4eb2-90ed-d09a45bf3fb7",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plataforma-digital.aybarcorp.com/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "email"
            },
            {
              "name": "mensaje",
              "value": "={{ $node[\"formatear-contactos\"].json.link }}"
            },
            {
              "name": "estado",
              "value": "={{ $json.accepted?.length > 0 ? 'enviado' : 'fallido' }}"
            },
            {
              "name": "etapa",
              "value": "={{ $('webhook-laravel').item.json.body.etapa }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        832
      ],
      "id": "d6f4ec1d-3fd9-4a84-a981-90b9937d857f",
      "name": "set-laravel-mensaje-2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 12
      },
      "id": "79da777c-a9fd-4167-8d2a-7346a53ca333",
      "name": "espera-12s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1152,
        904
      ],
      "webhookId": "fd06c27e-ff50-4c2b-b7af-e7f04a8f9f75"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54029fa4-1ed0-4a3f-bf38-05544953a62e",
              "name": "status",
              "value": "completado",
              "type": "string"
            },
            {
              "id": "081cfbc4-078a-4b72-b282-285a0d7faf6a",
              "name": "mensaje",
              "value": "Todos los correos de invitación fueron enviados",
              "type": "string"
            },
            {
              "id": "30f6259a-9cb5-4c3f-aa4e-ca64cb72cdf0",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "2beb95d4-233b-4be9-81e1-209888d24966",
              "name": "workflow",
              "value": "Laravel -> Enviar Pre-Invitaciones",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        640
      ],
      "id": "a376ab85-5592-4b07-b47c-36406ed2c3bc",
      "name": "resumen-2"
    },
    {
      "parameters": {
        "jsCode": "const resultados = $(\"enviar-mensaje-email\").all();\nconst datosOriginales = $(\"formatear-contactos\").all(); // Para traer los nombres\n\nconst exitosos = resultados.filter(r => r.json.accepted && r.json.accepted.length > 0).length;\nconst fallidos = resultados.length - exitosos;\nconst total = resultados.length;\n\nlet logDetallado = \"Resumen de envíos por Email:\\n\";\nresultados.forEach((r, index) => {\n    const status = (r.json.accepted && r.json.accepted.length > 0) ? \"✅ OK\" : \"❌ Error\";\n    // Traemos el nombre y el correo original de la expansión\n    const nombre = datosOriginales[index].json.nombres;\n    const email = datosOriginales[index].json.email;\n    logDetallado += `${index + 1}. ${nombre} (${email}): ${status}\\n`;\n});\n\nreturn { exitosos, fallidos, total, logDetallado, fecha: new Date().toLocaleString() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        640
      ],
      "id": "d9a0d53d-3a59-4901-ab5a-0db66d7ef259",
      "name": "formatear-resultados-2"
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "adm-response@aybarsac.com",
        "subject": "=LOG Final: {{ $json.total }} correos enviados",
        "html": "=<h3>Reporte de Envío - Entrega Fest</h3>\n<p>El proceso ha finalizado con los siguientes resultados:</p>\n\n<ul>\n    <li><b>Total de personas marcadas:</b> {{ $json.total }}</li>\n    <li><b>Envíos exitosos:</b> {{ $json.exitosos }}</li>\n    <li><b>Envíos fallidos:</b> {{ $json.fallidos }}</li>\n    <li><b>Fecha de fin:</b> {{ $json.fecha }}</li>\n</ul>\n\n<hr>\n<h4>Detalle por cada destinatario:</h4>\n<pre style=\"background: #f4f4f4; padding: 10px; border-radius: 5px;\">\n{{ $json.logDetallado }}\n</pre>\n",
        "options": {
          "ccEmail": "jefemediosycomunicaciones@aybarsac.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        928,
        640
      ],
      "id": "f34dceed-4438-4923-80f2-50ed475b8d5a",
      "name": "enviar-email-constancia-2",
      "webhookId": "9f45934c-44d2-4eba-b245-ad1905145e7b",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b872c0fe-7803-489a-8cfa-4eadef47f551",
              "leftValue": "={{ $json.enviar_whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        480,
        1408
      ],
      "id": "6ae79e8c-96fe-4fa9-8ecb-d49879cb4c0e",
      "name": "filtro-1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b872c0fe-7803-489a-8cfa-4eadef47f551",
              "leftValue": "={{$json.enviar_email }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        480,
        832
      ],
      "id": "3b24546c-668d-496e-b5b4-354eb246c097",
      "name": "filtro-2"
    },
    {
      "parameters": {
        "phoneNumberId": "1089842304211504",
        "recipientPhoneNumber": "={{ $json.celular }}",
        "template": "entregafest_invitacion|es_PE",
        "components": {
          "component": [
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "={{ $json.plantilla_imagen }}"
                  }
                ]
              }
            },
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.nombres }}"
                  },
                  {
                    "text": "={{ $json.plantilla_titulo }}"
                  },
                  {
                    "text": "={{ $json.plantilla_descripcion }}"
                  },
                  {
                    "text": "={{ $json.link }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        928,
        1312
      ],
      "id": "7e9ea3b3-9597-45fe-8812-857ae819675e",
      "name": "enviar-mensaje-wsp",
      "webhookId": "f2dd0443-4a47-4744-8aa1-3893e81e9bb5",
      "credentials": {
        "whatsAppApi": {
          "id": "wsfypPUomJK3uU3v",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4484cea6-a382-418a-8448-72417822f19f",
              "leftValue": "={{ $json.celular ? true : false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        1408
      ],
      "id": "85663162-c494-457b-8533-64bd3c7044d3",
      "name": "If1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plataforma-digital.aybarcorp.com/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "whatsapp"
            },
            {
              "name": "mensaje",
              "value": "Error: Número de celular no encontrado o es nulo. No se intentó el envío."
            },
            {
              "name": "etapa",
              "value": "={{ $('webhook-laravel').item.json.body.etapa }}"
            },
            {
              "name": "estado",
              "value": "fallido"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1152,
        1504
      ],
      "id": "30b4063e-cd05-4d4b-b7d9-b3d06f381623",
      "name": "Notificar Error a Laravel",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plataforma-digital.aybarcorp.com/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "whatsapp"
            },
            {
              "name": "mensaje",
              "value": "={{ $node[\"formatear-contactos\"].json.link }}"
            },
            {
              "name": "etapa",
              "value": "={{ $('webhook-laravel').item.json.body.etapa }}"
            },
            {
              "name": "estado",
              "value": "={{ $json.messages[0].id ? 'enviado' : 'fallido' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1152,
        1312
      ],
      "id": "d003fc5b-e6d0-4510-8c79-212832d9fed2",
      "name": "set-laravel-mensaje-1",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "webhook-laravel": {
      "main": [
        [
          {
            "node": "formatear-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-contactos": {
      "main": [
        [
          {
            "node": "split-10-contactos",
            "type": "main",
            "index": 0
          },
          {
            "node": "split-25-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-10-contactos": {
      "main": [
        [
          {
            "node": "resumen-1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "filtro-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resumen-1": {
      "main": [
        [
          {
            "node": "formatear-resultados-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-resultados-1": {
      "main": [
        [
          {
            "node": "Send an Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera-45s": {
      "main": [
        [
          {
            "node": "split-10-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-25-contactos": {
      "main": [
        [
          {
            "node": "resumen-2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "filtro-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-email": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-laravel-mensaje-2": {
      "main": [
        [
          {
            "node": "espera-12s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera-12s": {
      "main": [
        [
          {
            "node": "split-25-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resumen-2": {
      "main": [
        [
          {
            "node": "formatear-resultados-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-resultados-2": {
      "main": [
        [
          {
            "node": "enviar-email-constancia-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtro-1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtro-2": {
      "main": [
        [
          {
            "node": "enviar-mensaje-email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-wsp": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "enviar-mensaje-wsp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Error a Laravel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Error a Laravel": {
      "main": [
        [
          {
            "node": "espera-45s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-laravel-mensaje-1": {
      "main": [
        [
          {
            "node": "espera-45s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "79a6f41e-bee3-444f-b7e8-de7693062363",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c433c71318b007b5f27973859b26f7f0e1a6fc93061cfcb9f59fb9bcba4cdc6f"
  },
  "id": "xXjgCyM8Ca4Tinjy",
  "tags": []
}