n8n/EntregaFestWSP/✅Entrega Fest - Cita Confirmacion (Email + WhatsApp).json
{
  "name": "✅Entrega Fest - Cita Confirmacion (Email + WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "entregafest-cita-confirmacion",
        "options": {}
      },
      "id": "e7d2a4b0-bbdd-475f-b885-528c269a4c47",
      "name": "webhook-laravel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -608,
        160
      ],
      "webhookId": "aa4a8c27-1ca5-4d93-a33a-c741abaf3845"
    },
    {
      "parameters": {
        "jsCode": "// Extrae los datos del body enviado por Laravel\nconst body = $json.body ?? $json;\n\n// En este flujo de Cita Confirmación, Laravel envía la clave \"contacto\"\nconst contacto = body.contacto; \nconst evento = body.evento ?? '';\nconst plantilla = body.plantilla ?? {};\n\n// Usamos el título de la plantilla como asunto\nconst asunto = plantilla.titulo ?? '¡Cita de Firma Confirmada!';\n\n// 1. Validamos que exista el contacto\nif (!contacto) return [];\n\n// 2. Solo procesamos si tiene al menos un canal habilitado para envío\nif (!contacto.enviar_email && !contacto.enviar_whatsapp) {\n    return [];\n}\n\nreturn [{\n    json: {\n        ...contacto, // Expande: id, nombres, email, celular, dni, tipo (Propietario), html, fecha_firma_formateada, enviar_email, enviar_whatsapp\n        asunto: asunto,\n        evento: evento,\n        // --- CAMPOS DE LA PLANTILLA ---\n        plantilla_titulo: plantilla.titulo ?? '',\n        plantilla_subtitulo: plantilla.subtitulo ?? '',\n        plantilla_descripcion: plantilla.descripcion ?? '',\n        plantilla_imagen: plantilla.imagen_url || 'https://aybarcorp.com/public/assets/entregafest/logo-entrega-fest-blanco.png',\n        direccion_sede: contacto.direccion_sede ?? '',\n        plantilla_link_boton: plantilla.link_boton ?? ''\n    }\n}];\n"
      },
      "id": "e2212a4c-da66-408e-b0e5-3457dc5467b6",
      "name": "formatear-contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e0784d3c-3d68-443f-b64c-21d0dfe70e7b",
              "leftValue": "={{$json.enviar_email }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -144,
        64
      ],
      "id": "b714767d-5c0d-4768-8842-7490ee4e7afd",
      "name": "Filter1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e0784d3c-3d68-443f-b64c-21d0dfe70e7b",
              "leftValue": "={{ $json.enviar_whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -144,
        256
      ],
      "id": "e0bc47bd-47c7-4085-bc2a-f92c197e36eb",
      "name": "Filter"
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.asunto }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "aa7ae496-77a0-4d18-9daf-d5fdbfda82d2",
      "name": "enviar-mensaje-email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        96,
        64
      ],
      "webhookId": "6e5759aa-8a62-453c-8574-9b49871395e1",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plataforma-digital.aybarcorp.com/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "email"
            },
            {
              "name": "mensaje",
              "value": "={{ $node[\"formatear-contactos\"].json.fecha_firma_formateada }}"
            },
            {
              "name": "estado",
              "value": "={{ $json.accepted?.length > 0 ? 'enviado' : 'invalido' }}"
            },
            {
              "name": "etapa",
              "value": "={{ $('webhook-laravel').item.json.body.etapa }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        64
      ],
      "id": "9a3c353a-7093-4600-bb02-b78921113347",
      "name": "set-laravel-mensaje-2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "phoneNumberId": "1089842304211504",
        "recipientPhoneNumber": "={{ $json.celular }}",
        "template": "entregafest_cita_confirmado|es_PE",
        "components": {
          "component": [
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "={{ $json.plantilla_imagen }}"
                  }
                ]
              }
            },
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.nombres }}"
                  },
                  {
                    "text": "={{ $json.plantilla_titulo }}"
                  },
                  {
                    "text": "={{ `${$json.plantilla_descripcion || ''}${$json.direccion_sede ? ' 📍 Sede principal: ' + $json.direccion_sede : ''}` }}"
                  },
                  {
                    "text": "={{ $json.fecha_firma_formateada }}"
                  },
                  {
                    "text": "={{ $json.proyecto }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        96,
        256
      ],
      "id": "c1b9037d-b858-436e-b940-429b1e2582a2",
      "name": "enviar-mensaje-wsp",
      "webhookId": "d5a3a177-e320-40e0-8473-bd53f8bd0267",
      "credentials": {
        "whatsAppApi": {
          "id": "wsfypPUomJK3uU3v",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plataforma-digital.aybarcorp.com/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "whatsapp"
            },
            {
              "name": "mensaje",
              "value": "={{ $node[\"formatear-contactos\"].json.fecha_firma_formateada }}"
            },
            {
              "name": "etapa",
              "value": "={{ $('webhook-laravel').item.json.body.etapa }}"
            },
            {
              "name": "estado",
              "value": "={{ $json.messages[0].id ? 'enviado' : 'fallido' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        256
      ],
      "id": "c6c869ef-2e01-46b2-a70e-60b1c662d7ee",
      "name": "set-laravel-mensaje-1",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "webhook-laravel": {
      "main": [
        [
          {
            "node": "formatear-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-contactos": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "enviar-mensaje-wsp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "enviar-mensaje-email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-wsp": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-email": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e636a4c6-7466-43c8-bbe4-6513fc276b63",
  "meta": {
    "instanceId": "c433c71318b007b5f27973859b26f7f0e1a6fc93061cfcb9f59fb9bcba4cdc6f"
  },
  "id": "3Gy2B4Ss3ThYatlB",
  "tags": []
}