n8n/EntregaFestWSP/✅Entrega Fest - Instrucciones (Email + WhatsApp) (1).json
{
  "name": "✅Entrega Fest - Instrucciones (Email + WhatsApp)",
  "nodes": [
    {
      "parameters": {
        "amount": 3
      },
      "id": "0aa85c0d-807d-4b6e-9019-a25210404b2c",
      "name": "Esperar 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        608
      ],
      "webhookId": "d8fe877f-e109-4cec-8bc7-eee33ee64664"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "entregafest-instrucciones",
        "options": {}
      },
      "id": "eb54fb77-0b27-47eb-9c16-cd32f746c9b4",
      "name": "webhook-laravel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1024,
        368
      ],
      "webhookId": "749ae586-f952-47ec-98ea-00ac703b3ebd"
    },
    {
      "parameters": {
        "jsCode": "// Extrae los datos del body enviado por Laravel\nconst body = $json.body ?? $json;\n\n// En este flujo siempre recibimos un solo \"contacto\"\nconst contacto = body.contacto; \nconst evento = body.evento ?? '';\nconst plantilla = body.plantilla ?? {};\n\n// Usamos el título de la plantilla como asunto\nconst asunto = plantilla.titulo ?? 'Instrucciones para el Evento';\n\n// 1. Validamos que exista el contacto\nif (!contacto) return [];\n\n// 2. Solo procesamos si tiene al menos un canal habilitado para envío\n// Esto evita duplicados si el historial ya dice que se envió Email y WhatsApp\nif (!contacto.enviar_email && !contacto.enviar_whatsapp) {\n    return [];\n}\n\nreturn [{\n    json: {\n        ...contacto, // Incluye automáticamente id, nombres, email, celular, enviar_email, enviar_whatsapp e HTML de instrucciones\n        asunto: asunto,\n        evento: evento,\n        // --- CAMPOS DE LA PLANTILLA ---\n        plantilla_titulo: plantilla.titulo ?? '',\n        plantilla_subtitulo: plantilla.subtitulo ?? '',\n        plantilla_descripcion: plantilla.descripcion ?? '',\n        plantilla_imagen: plantilla.imagen_url ?? '',\n        plantilla_link_boton: plantilla.link_boton ?? ''\n    }\n}];\n"
      },
      "id": "d8c635b6-ba06-4435-b793-b2a153be7636",
      "name": "formatear-contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        368
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "af7a20e0-3e15-454e-8efd-8753da693757",
      "name": "split-10-contactos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plataforma-digital.aybarcorp.com/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "whatsapp"
            },
            {
              "name": "mensaje"
            },
            {
              "name": "etapa",
              "value": "={{ $('webhook-laravel').item.json.body.etapa }}"
            },
            {
              "name": "estado",
              "value": "={{ $json.messages[0].id ? 'enviado' : 'fallido' }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        608
      ],
      "id": "37234d97-c22b-44a4-8965-d9eb9a49dca2",
      "name": "set-laravel-mensaje-1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54029fa4-1ed0-4a3f-bf38-05544953a62e",
              "name": "status",
              "value": "completado",
              "type": "string"
            },
            {
              "id": "081cfbc4-078a-4b72-b282-285a0d7faf6a",
              "name": "mensaje",
              "value": "Todos los correos de invitación fueron enviados",
              "type": "string"
            },
            {
              "id": "30f6259a-9cb5-4c3f-aa4e-ca64cb72cdf0",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "2beb95d4-233b-4be9-81e1-209888d24966",
              "name": "workflow",
              "value": "Laravel -> Enviar Pre-Invitaciones",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        416
      ],
      "id": "16c94ddd-a962-422c-8a80-bc51aa3e2377",
      "name": "resumen-1"
    },
    {
      "parameters": {
        "jsCode": "const resultados = $(\"enviar-mensaje-wsp\").all();\nconst datosOriginales = $(\"formatear-contactos\").all(); // Traemos todos los nombres\n\nconst exitosos = resultados.filter(r => r.json.messaging_product || r.json.messages).length;\nconst fallidos = resultados.length - exitosos;\nconst total = resultados.length;\n\nlet logDetallado = \"Resumen de envíos por WhatsApp:\\n\";\nresultados.forEach((r, index) => {\n    const status = (r.json.messaging_product || r.json.messages) ? \"✅ OK\" : \"❌ Error\";\n    // Buscamos el nombre que corresponde a esta vuelta del loop (index)\n    const nombre = datosOriginales[index].json.nombres; \n    logDetallado += `${index + 1}. ${nombre}: ${status}\\n`;\n});\n\nreturn { exitosos, fallidos, total, logDetallado, fecha: new Date().toLocaleString() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        416
      ],
      "id": "c3062761-f74c-4b01-8374-42d0b44e6d6b",
      "name": "formatear-resultados-1"
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "adm-response@aybarsac.com",
        "subject": "=LOG Final: {{ $json.total }} correos enviados",
        "html": "=<h3>Reporte de Envío - Entrega Fest</h3>\n<p>El proceso ha finalizado con los siguientes resultados:</p>\n\n<ul>\n    <li><b>Total de personas marcadas:</b> {{ $json.total }}</li>\n    <li><b>Envíos exitosos:</b> {{ $json.exitosos }}</li>\n    <li><b>Envíos fallidos:</b> {{ $json.fallidos }}</li>\n    <li><b>Fecha de fin:</b> {{ $json.fecha }}</li>\n</ul>\n\n<hr>\n<h4>Detalle por cada destinatario:</h4>\n<pre style=\"background: #f4f4f4; padding: 10px; border-radius: 5px;\">\n{{ $json.logDetallado }}\n</pre>\n",
        "options": {
          "ccEmail": "jefemediosycomunicaciones@aybarsac.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        416
      ],
      "id": "a7b37e31-257b-486c-9a4a-62cb7cd74148",
      "name": "enviar-email-constancia-1",
      "webhookId": "2a5884e6-dbaa-4985-b5d2-d614ab6197b6",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "id": "48c31850-6e95-44e5-a8ba-a67782dc9f21",
      "name": "split-25-contactos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -448,
        112
      ]
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.asunto }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "d9025ec0-6e51-46a7-9607-1f18eb2f39ec",
      "name": "enviar-mensaje-email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        176
      ],
      "webhookId": "53c948ca-6d23-4301-9dd3-67d7c65d33ad",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plataforma-digital.aybarcorp.com/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "email"
            },
            {
              "name": "mensaje",
              "value": "="
            },
            {
              "name": "estado",
              "value": "={{ $json.accepted?.length > 0 ? 'enviado' : 'invalido' }}"
            },
            {
              "name": "etapa",
              "value": "={{ $('webhook-laravel').item.json.body.etapa }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        176
      ],
      "id": "1f9ac76b-fe39-49fd-b652-8a585374312d",
      "name": "set-laravel-mensaje-2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "42e0aed7-294a-48bd-897a-0abe6c6402ec",
      "name": "espera-12s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        176
      ],
      "webhookId": "a965a1d5-4426-449a-ae42-b1bd5afefaaf"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54029fa4-1ed0-4a3f-bf38-05544953a62e",
              "name": "status",
              "value": "completado",
              "type": "string"
            },
            {
              "id": "081cfbc4-078a-4b72-b282-285a0d7faf6a",
              "name": "mensaje",
              "value": "Todos los correos de invitación fueron enviados",
              "type": "string"
            },
            {
              "id": "30f6259a-9cb5-4c3f-aa4e-ca64cb72cdf0",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "2beb95d4-233b-4be9-81e1-209888d24966",
              "name": "workflow",
              "value": "Laravel -> Enviar Pre-Invitaciones",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "691cab6c-6151-4439-8908-64dc755a61ed",
      "name": "resumen-2"
    },
    {
      "parameters": {
        "jsCode": "const resultados = $(\"enviar-mensaje-email\").all();\nconst datosOriginales = $(\"formatear-contactos\").all(); // Para traer los nombres\n\nconst exitosos = resultados.filter(r => r.json.accepted && r.json.accepted.length > 0).length;\nconst fallidos = resultados.length - exitosos;\nconst total = resultados.length;\n\nlet logDetallado = \"Resumen de envíos por Email:\\n\";\nresultados.forEach((r, index) => {\n    const status = (r.json.accepted && r.json.accepted.length > 0) ? \"✅ OK\" : \"❌ Error\";\n    // Traemos el nombre y el correo original de la expansión\n    const nombre = datosOriginales[index].json.nombres;\n    const email = datosOriginales[index].json.email;\n    logDetallado += `${index + 1}. ${nombre} (${email}): ${status}\\n`;\n});\n\nreturn { exitosos, fallidos, total, logDetallado, fecha: new Date().toLocaleString() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ],
      "id": "99bf5ac4-0113-4954-a8ba-bdf0738e47ce",
      "name": "formatear-resultados-2",
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "adm-response@aybarsac.com",
        "subject": "=LOG Final: {{ $json.total }} correos enviados",
        "html": "=<h3>Reporte de Envío - Entrega Fest</h3>\n<p>El proceso ha finalizado con los siguientes resultados:</p>\n\n<ul>\n    <li><b>Total de personas marcadas:</b> {{ $json.total }}</li>\n    <li><b>Envíos exitosos:</b> {{ $json.exitosos }}</li>\n    <li><b>Envíos fallidos:</b> {{ $json.fallidos }}</li>\n    <li><b>Fecha de fin:</b> {{ $json.fecha }}</li>\n</ul>\n\n<hr>\n<h4>Detalle por cada destinatario:</h4>\n<pre style=\"background: #f4f4f4; padding: 10px; border-radius: 5px;\">\n{{ $json.logDetallado }}\n</pre>\n",
        "options": {
          "ccEmail": "jefemediosycomunicaciones@aybarsac.com"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        0
      ],
      "id": "96f8f2df-6797-41db-a347-ad4eb6e536c3",
      "name": "enviar-email-constancia-2",
      "webhookId": "d60f4968-7f48-4831-8b8f-dd6330903c6d",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -832,
        368
      ],
      "id": "6defeb1a-98a1-4da0-ae72-4e01e591ef53",
      "name": "Wait",
      "webhookId": "f9e78209-f8b2-4e2f-bb9d-d73dd455d286"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13f5a289-a85e-4351-93c5-4a7e867ad76c",
              "leftValue": "={{ $json.enviar_whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -176,
        608
      ],
      "id": "bcd02542-b79e-4f0e-a70b-98f8b3189643",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13f5a289-a85e-4351-93c5-4a7e867ad76c",
              "leftValue": "={{$json.enviar_email }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -224,
        176
      ],
      "id": "7ba970e3-f3de-4184-8e96-f92a838bcdf6",
      "name": "Filter1"
    },
    {
      "parameters": {
        "phoneNumberId": "1089842304211504",
        "recipientPhoneNumber": "={{ $json.celular }}",
        "template": "entregafest_invitacion_instrucciones|es_PE",
        "components": {
          "component": [
            {
              "type": "header",
              "headerParameters": {
                "parameter": [
                  {
                    "type": "image",
                    "imageLink": "={{ $json.plantilla_imagen }}"
                  }
                ]
              }
            },
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.plantilla_titulo }}"
                  },
                  {
                    "text": "={{ $json.plantilla_descripcion }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        48,
        608
      ],
      "id": "fbc29432-6179-4def-82e7-c8b3beeb89e9",
      "name": "enviar-mensaje-wsp",
      "webhookId": "ce7d8082-4455-4f05-93bc-da0b2f094140",
      "credentials": {
        "whatsAppApi": {
          "id": "wsfypPUomJK3uU3v",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Esperar 3s": {
      "main": [
        [
          {
            "node": "split-10-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook-laravel": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-contactos": {
      "main": [
        [
          {
            "node": "split-10-contactos",
            "type": "main",
            "index": 0
          },
          {
            "node": "split-25-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-10-contactos": {
      "main": [
        [
          {
            "node": "resumen-1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-laravel-mensaje-1": {
      "main": [
        [
          {
            "node": "Esperar 3s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resumen-1": {
      "main": [
        [
          {
            "node": "formatear-resultados-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-resultados-1": {
      "main": [
        [
          {
            "node": "enviar-email-constancia-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-25-contactos": {
      "main": [
        [
          {
            "node": "resumen-2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-email": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-laravel-mensaje-2": {
      "main": [
        [
          {
            "node": "espera-12s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera-12s": {
      "main": [
        [
          {
            "node": "split-25-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resumen-2": {
      "main": [
        [
          {
            "node": "formatear-resultados-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-resultados-2": {
      "main": [
        [
          {
            "node": "enviar-email-constancia-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "formatear-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "enviar-mensaje-wsp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "enviar-mensaje-email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-wsp": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b3ce41e3-cf1a-4743-bf80-77a9b794ccbc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c433c71318b007b5f27973859b26f7f0e1a6fc93061cfcb9f59fb9bcba4cdc6f"
  },
  "id": "6TeOhPAQU0ipglwU",
  "tags": []
}