n8n/EntregaFest/Entrega Fest - Contrato Preliminar (Email + Evolution API Whatsap) (1).json
{
  "name": "Entrega Fest - Contrato Preliminar (Email + Evolution API Whatsap)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "entregafest-contrato-preliminar",
        "options": {}
      },
      "id": "eaee961d-b6a5-4da6-a407-fa7afddceb64",
      "name": "webhook-laravel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -576,
        128
      ],
      "webhookId": "79e57869-6201-44d3-bdb2-1d70273d750d"
    },
    {
      "parameters": {
        "jsCode": "// Extrae los datos del body enviado por Laravel\nconst body = $json.body ?? $json;\n\n// En este flujo de Contrato Preliminar, Laravel envía la clave \"titular\"\nconst contacto = body.titular; \nconst evento = body.evento ?? '';\nconst plantilla = body.plantilla ?? {};\n\n// Usamos el título de la plantilla como asunto\nconst asunto = plantilla.titulo ?? 'Contrato Preliminar Aprobado';\n\n// 1. Validamos que exista el contacto (titular)\nif (!contacto) return [];\n\n// 2. Solo procesamos si tiene al menos un canal habilitado para envío\nif (!contacto.enviar_email && !contacto.enviar_whatsapp) {\n    return [];\n}\n\nreturn [{\n    json: {\n        ...contacto, // Expande: id, nombres, email, celular, dni, tipo (Propietario), html, pdf_url, link_agendar, etc.\n        asunto: asunto,\n        evento: evento,\n        // --- CAMPOS DE LA PLANTILLA ---\n        plantilla_titulo: plantilla.titulo ?? '',\n        plantilla_subtitulo: plantilla.subtitulo ?? '',\n        plantilla_descripcion: plantilla.descripcion ?? '',\n        plantilla_imagen: plantilla.imagen_url ?? '',\n        plantilla_link_boton: plantilla.link_boton ?? ''\n    }\n}];\n"
      },
      "id": "2f35af84-3230-4a63-8a8b-51f1f958c2dc",
      "name": "formatear-contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution_api:8080/message/sendMedia/Aybar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "aybar_secure_token_2025"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.celular }}"
            },
            {
              "name": "mediatype",
              "value": "document"
            },
            {
              "name": "media",
              "value": "={{ $json.pdf_url }}"
            },
            {
              "name": "caption",
              "value": "=*{{ $json.plantilla_titulo }}*\n\n{{ $json.plantilla_subtitulo }}\n\nHola *{{ $json.nombres }}*, {{ $json.plantilla_descripcion }}\n\n✅ *Puedes descargar tu contrato arriba.*\n\n📅 *Una vez revisado, agenda tu cita de firma aquí:*\n{{ $json.link_agendar }}\n"
            },
            {
              "name": "fileName",
              "value": "=Contrato_Preliminar_{{ $json.dni }}.pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        224
      ],
      "id": "90081cd5-edd1-48d2-b053-9c1edd21a372",
      "name": "enviar-mensaje-wsp",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plataforma-digital.aybarcorp.com/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "whatsapp"
            },
            {
              "name": "mensaje",
              "value": "={{ $('formatear-contactos').item.json.pdf_url }}"
            },
            {
              "name": "etapa",
              "value": "={{ $('webhook-laravel').item.json.body.etapa }}"
            },
            {
              "name": "estado",
              "value": "={{ $json.key ? 'enviado' : 'fallido' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        224
      ],
      "id": "f599c800-1eef-485e-aef5-bdbf3e3abd90",
      "name": "set-laravel-mensaje-1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.asunto }}",
        "html": "={{ $json.html }}",
        "options": {
          "attachments": "=data"
        }
      },
      "id": "f9364413-ba64-4bd8-8c07-9358c03e2430",
      "name": "enviar-mensaje-email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        288,
        16
      ],
      "webhookId": "445a452f-0e2e-4857-bfdc-0b3bb412e6a3",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://plataforma-digital.aybarcorp.com/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "email"
            },
            {
              "name": "mensaje",
              "value": "={{ $('formatear-contactos').item.json.pdf_url }}"
            },
            {
              "name": "estado",
              "value": "={{ $json.accepted?.length > 0 ? 'enviado' : 'invalido' }}"
            },
            {
              "name": "etapa",
              "value": "={{ $('webhook-laravel').item.json.body.etapa }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        16
      ],
      "id": "f45eda14-1640-42b9-bd1e-cfa2a7a7a6c0",
      "name": "set-laravel-mensaje-2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $json.pdf_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        16
      ],
      "id": "369fa1a1-fab1-4081-9077-58ed2fcc7f86",
      "name": "pdf"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b4adb1a-84ae-45c9-a07f-e923d20c84f3",
              "leftValue": "={{$json.enviar_email }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -128,
        16
      ],
      "id": "7ce0baf0-0a68-4e63-8fcf-462e672f92b7",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b4adb1a-84ae-45c9-a07f-e923d20c84f3",
              "leftValue": "={{ $json.enviar_whatsapp }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -128,
        224
      ],
      "id": "01249d19-3cf6-492b-a638-8ca431ba9d15",
      "name": "Filter1"
    }
  ],
  "pinData": {},
  "connections": {
    "webhook-laravel": {
      "main": [
        [
          {
            "node": "formatear-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-contactos": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-wsp": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-email": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf": {
      "main": [
        [
          {
            "node": "enviar-mensaje-email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "enviar-mensaje-wsp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bff30e05-54a5-42fd-8923-34de32824188",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c433c71318b007b5f27973859b26f7f0e1a6fc93061cfcb9f59fb9bcba4cdc6f"
  },
  "id": "sVUsvmcaWDgMO5k6",
  "tags": []
}