n8n/EntregaFest/Entrega Fest - Asistencia Invitacion (Email + Evolution API Whatsap).json
{
  "name": "Entrega Fest - Asistencia Invitacion (Email + Evolution API Whatsap)",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "adm-response@aybarsac.com",
        "subject": "=LOG Final: {{ $json.total }} correos enviados",
        "html": "=<h3>Reporte de Envío - Entrega Fest</h3>\n<p>El proceso ha finalizado con los siguientes resultados:</p>\n\n<ul>\n    <li><b>Total de personas marcadas:</b> {{ $json.total }}</li>\n    <li><b>Envíos exitosos:</b> {{ $json.exitosos }}</li>\n    <li><b>Envíos fallidos:</b> {{ $json.fallidos }}</li>\n    <li><b>Fecha de fin:</b> {{ $json.fecha }}</li>\n</ul>\n\n<hr>\n<h4>Detalle por cada destinatario:</h4>\n<pre style=\"background: #f4f4f4; padding: 10px; border-radius: 5px;\">\n{{ $json.logDetallado }}\n</pre>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        416
      ],
      "id": "a920a8a8-d349-40c1-80bf-6d5f7b4947e1",
      "name": "Send an Email2",
      "webhookId": "bdc71a8b-a5fe-4c21-b8d7-1e1465dde6be",
      "credentials": {
        "smtp": {
          "id": "z4X6l9CLUHgSXEqh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "entregafest-asistencia-invitacion",
        "options": {}
      },
      "id": "b936e307-8a5f-49ad-8f9f-e7f570ee1040",
      "name": "webhook-laravel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -880,
        368
      ],
      "webhookId": "00ba6ad0-16fc-431f-8c1c-7e7f1ec2ecbe"
    },
    {
      "parameters": {
        "jsCode": "// Extrae los datos del body enviado por Laravel\nconst body = $json.body ?? $json;\n\n// Mapeamos los campos según la nueva estructura\nconst titular = body.titular;\nconst copropietarios = body.copropietarios ?? [];\nconst evento = body.evento ?? '';\nconst plantilla = body.plantilla ?? {};\n\n// Usamos el título de la plantilla como asunto predeterminado\nconst asunto = plantilla.titulo ?? 'Invitación al evento';\n\nlet finalItems = [];\n\n// 1. Añadimos al Titular (Propietario) si existe\nif (titular) {\n    finalItems.push({\n        json: {\n            id: titular.id,\n            email: titular.email,\n            nombres: titular.nombres,\n            celular: titular.celular ?? '',\n            dni: titular.dni ?? '',\n            link: titular.link,\n            html: titular.html,\n            tipo: 'Propietario',\n            asunto: asunto,\n            evento: evento,\n            // --- CAMPOS DE LA PLANTILLA ---\n            plantilla_titulo: plantilla.titulo ?? '',\n            plantilla_subtitulo: plantilla.subtitulo ?? '',\n            plantilla_descripcion: plantilla.descripcion ?? '',\n            plantilla_imagen: plantilla.imagen_url ?? '',\n            plantilla_link_boton: plantilla.link_boton ?? ''\n        }\n    });\n}\n\n// 2. Recorremos y añadimos a cada Copropietario\ncopropietarios.forEach(cp => {\n    finalItems.push({\n        json: {\n            id: cp.id,\n            email: cp.email ?? '',\n            nombres: cp.nombres,\n            celular: cp.celular ?? '',\n            dni: cp.dni ?? '',\n            link: cp.link,\n            html: cp.html,\n            tipo: 'Copropietario',\n            asunto: asunto,\n            evento: evento,\n            // --- CAMPOS DE LA PLANTILLA ---\n            plantilla_titulo: plantilla.titulo ?? '',\n            plantilla_subtitulo: plantilla.subtitulo ?? '',\n            plantilla_descripcion: plantilla.descripcion ?? '',\n            plantilla_imagen: plantilla.imagen_url ?? '',\n            plantilla_link_boton: plantilla.link_boton ?? ''\n        }\n    });\n});\n\nreturn finalItems;\n"
      },
      "id": "81df78c3-5787-4e4d-90de-5d374e948d64",
      "name": "formatear-contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        368
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "924427d1-2163-462c-b720-5ac97f9c9a33",
      "name": "split-10-contactos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -256,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54029fa4-1ed0-4a3f-bf38-05544953a62e",
              "name": "status",
              "value": "completado",
              "type": "string"
            },
            {
              "id": "081cfbc4-078a-4b72-b282-285a0d7faf6a",
              "name": "mensaje",
              "value": "Todos los correos de invitación fueron enviados",
              "type": "string"
            },
            {
              "id": "30f6259a-9cb5-4c3f-aa4e-ca64cb72cdf0",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "2beb95d4-233b-4be9-81e1-209888d24966",
              "name": "workflow",
              "value": "Laravel -> Enviar Pre-Invitaciones",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        416
      ],
      "id": "da1c16e8-a231-4f17-974f-9c6e7a12a88b",
      "name": "resumen-1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution_api:8080/message/sendMedia/Aybar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "aybar_secure_token_2025"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=51{{ $json.celular }}"
            },
            {
              "name": "mediatype",
              "value": "image"
            },
            {
              "name": "media",
              "value": "=https://aybarcorp.com/public/assets/entregafest/logo-entrega-fest-blanco.png"
            },
            {
              "name": "caption",
              "value": "=*{{ $json.plantilla_titulo }}*  \n\n{{ $json.plantilla_subtitulo }}  \nHola *{{ $json.nombres }}*,  {{ $json.plantilla_descripcion }}  \n\n👉 *Tu link de invitación:* {{ $json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        608
      ],
      "id": "4211f65b-e46d-4124-b23a-d02513df266d",
      "name": "enviar-mensaje-wsp",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "email"
            },
            {
              "name": "mensaje",
              "value": "={{ $node[\"formatear-contactos\"].json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        608
      ],
      "id": "01ebf8ec-0d44-420b-bd24-1d4e7ae34589",
      "name": "set-laravel-mensaje-1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const resultados = $(\"enviar-mensaje-wsp\").all();\nconst datosOriginales = $(\"formatear-contactos\").all(); // Traemos todos los nombres\n\nconst exitosos = resultados.filter(r => r.json.messaging_product || r.json.messages).length;\nconst fallidos = resultados.length - exitosos;\nconst total = resultados.length;\n\nlet logDetallado = \"Resumen de envíos por WhatsApp:\\n\";\nresultados.forEach((r, index) => {\n    const status = (r.json.messaging_product || r.json.messages) ? \"✅ OK\" : \"❌ Error\";\n    // Buscamos el nombre que corresponde a esta vuelta del loop (index)\n    const nombre = datosOriginales[index].json.nombres; \n    logDetallado += `${index + 1}. ${nombre}: ${status}\\n`;\n});\n\nreturn { exitosos, fallidos, total, logDetallado, fecha: new Date().toLocaleString() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        416
      ],
      "id": "fd65aba8-26c9-4a56-bc1e-f15fe93b6122",
      "name": "formatear-resultados-1"
    },
    {
      "parameters": {
        "amount": 4
      },
      "id": "3da95c3b-fa0a-4106-83fb-0789f1aa28f6",
      "name": "espera-45s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        592,
        608
      ],
      "webhookId": "37334787-ce60-4648-87b5-98951c7247ea"
    },
    {
      "parameters": {
        "batchSize": 25,
        "options": {}
      },
      "id": "375dbe25-08eb-4823-b9e3-2d3f63412cbe",
      "name": "split-25-contactos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -256,
        96
      ]
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.asunto }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "f9eeae00-88d0-4ba4-9607-8a2bcf944bb8",
      "name": "enviar-mensaje-email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        176
      ],
      "webhookId": "3d610a53-fdfd-47ed-bfcb-761fb8f38fd8",
      "credentials": {
        "smtp": {
          "id": "z4X6l9CLUHgSXEqh",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "email"
            },
            {
              "name": "mensaje",
              "value": "={{ $node[\"formatear-contactos\"].json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        176
      ],
      "id": "188001ff-44c1-4beb-b93d-881b54189639",
      "name": "set-laravel-mensaje-2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 12
      },
      "id": "80798b24-70ca-46b3-91b8-10e526a8fb6c",
      "name": "espera-12s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        576,
        176
      ],
      "webhookId": "95f07778-d83f-4db8-88c0-4040d67e878f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54029fa4-1ed0-4a3f-bf38-05544953a62e",
              "name": "status",
              "value": "completado",
              "type": "string"
            },
            {
              "id": "081cfbc4-078a-4b72-b282-285a0d7faf6a",
              "name": "mensaje",
              "value": "Todos los correos de invitación fueron enviados",
              "type": "string"
            },
            {
              "id": "30f6259a-9cb5-4c3f-aa4e-ca64cb72cdf0",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "2beb95d4-233b-4be9-81e1-209888d24966",
              "name": "workflow",
              "value": "Laravel -> Enviar Pre-Invitaciones",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "af66934c-ae20-4eb1-bcc9-f4bdfb7c04b9",
      "name": "resumen-2"
    },
    {
      "parameters": {
        "jsCode": "const resultados = $(\"enviar-mensaje-email\").all();\nconst datosOriginales = $(\"formatear-contactos\").all(); // Para traer los nombres\n\nconst exitosos = resultados.filter(r => r.json.accepted && r.json.accepted.length > 0).length;\nconst fallidos = resultados.length - exitosos;\nconst total = resultados.length;\n\nlet logDetallado = \"Resumen de envíos por Email:\\n\";\nresultados.forEach((r, index) => {\n    const status = (r.json.accepted && r.json.accepted.length > 0) ? \"✅ OK\" : \"❌ Error\";\n    // Traemos el nombre y el correo original de la expansión\n    const nombre = datosOriginales[index].json.nombres;\n    const email = datosOriginales[index].json.email;\n    logDetallado += `${index + 1}. ${nombre} (${email}): ${status}\\n`;\n});\n\nreturn { exitosos, fallidos, total, logDetallado, fecha: new Date().toLocaleString() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ],
      "id": "e9c1b44a-1135-4dc6-8adf-b51489aa847d",
      "name": "formatear-resultados-2"
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "adm-response@aybarsac.com",
        "subject": "=LOG Final: {{ $json.total }} correos enviados",
        "html": "=<h3>Reporte de Envío - Entrega Fest</h3>\n<p>El proceso ha finalizado con los siguientes resultados:</p>\n\n<ul>\n    <li><b>Total de personas marcadas:</b> {{ $json.total }}</li>\n    <li><b>Envíos exitosos:</b> {{ $json.exitosos }}</li>\n    <li><b>Envíos fallidos:</b> {{ $json.fallidos }}</li>\n    <li><b>Fecha de fin:</b> {{ $json.fecha }}</li>\n</ul>\n\n<hr>\n<h4>Detalle por cada destinatario:</h4>\n<pre style=\"background: #f4f4f4; padding: 10px; border-radius: 5px;\">\n{{ $json.logDetallado }}\n</pre>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        0
      ],
      "id": "f792a303-2586-468f-a9b4-ae1da231636b",
      "name": "enviar-email-constancia-2",
      "webhookId": "21275a5b-8b41-4848-8d05-5ef8462c813b",
      "credentials": {
        "smtp": {
          "id": "z4X6l9CLUHgSXEqh",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "webhook-laravel": {
      "main": [
        [
          {
            "node": "formatear-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-contactos": {
      "main": [
        [
          {
            "node": "split-25-contactos",
            "type": "main",
            "index": 0
          },
          {
            "node": "split-10-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-10-contactos": {
      "main": [
        [
          {
            "node": "resumen-1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "enviar-mensaje-wsp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resumen-1": {
      "main": [
        [
          {
            "node": "formatear-resultados-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-wsp": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-laravel-mensaje-1": {
      "main": [
        [
          {
            "node": "espera-45s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-resultados-1": {
      "main": [
        [
          {
            "node": "Send an Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera-45s": {
      "main": [
        [
          {
            "node": "split-10-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split-25-contactos": {
      "main": [
        [
          {
            "node": "resumen-2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "enviar-mensaje-email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-email": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set-laravel-mensaje-2": {
      "main": [
        [
          {
            "node": "espera-12s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "espera-12s": {
      "main": [
        [
          {
            "node": "split-25-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resumen-2": {
      "main": [
        [
          {
            "node": "formatear-resultados-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-resultados-2": {
      "main": [
        [
          {
            "node": "enviar-email-constancia-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "13d79c38-9dd1-48d6-ab22-4feb5a234375",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c806fd4ba6f3a3286758e12117f71e3bdd8b19e8ca50fa254e1ad2c87e89ae24"
  },
  "id": "6rwqAfemk7LTsuCp",
  "tags": []
}