n8n/EntregaFest/Entrega Fest - Cita Confirmacion (Email + Evolution API Whatsap).json
{
  "name": "Entrega Fest - Cita Confirmacion (Email + Evolution API Whatsap)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "entregafest-cita-confirmacion",
        "options": {}
      },
      "id": "00f6e26b-7d93-4abc-b14a-075d2408061d",
      "name": "webhook-laravel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -848,
        128
      ],
      "webhookId": "aa4a8c27-1ca5-4d93-a33a-c741abaf3845"
    },
    {
      "parameters": {
        "jsCode": "// Extrae los datos del body enviado por Laravel\nconst body = $json.body ?? $json;\n\n// En este flujo de Cita Confirmación, la clave es \"contacto\"\nconst contacto = body.contacto; \nconst evento = body.evento ?? '';\nconst plantilla = body.plantilla ?? {};\n\n// Usamos el título de la plantilla como asunto\nconst asunto = plantilla.titulo ?? '¡Cita Agendada con Éxito!';\n\nif (!contacto) return []; // Si no hay contacto, no procesamos nada\n\nreturn [{\n    json: {\n        ...contacto, // id, nombres, email, celular, dni, fecha_firma_formateada, html, etc.\n        asunto: asunto,\n        evento: evento,\n        // --- CAMPOS DE LA PLANTILLA ---\n        plantilla_titulo: plantilla.titulo ?? '',\n        plantilla_subtitulo: plantilla.subtitulo ?? '',\n        plantilla_descripcion: plantilla.descripcion ?? '',\n        plantilla_imagen: plantilla.imagen_url ?? '',\n        plantilla_link_boton: plantilla.link_boton ?? ''\n    }\n}];\n"
      },
      "id": "34eb15ca-6bbc-4698-9f1f-29c41b04b03b",
      "name": "formatear-contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution_api:8080/message/sendMedia/Aybar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "aybar_secure_token_2025"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=51{{ $json.celular }}"
            },
            {
              "name": "mediatype",
              "value": "image"
            },
            {
              "name": "media",
              "value": "=https://aybarcorp.com/public/assets/entregafest/logo-entrega-fest-blanco.png"
            },
            {
              "name": "caption",
              "value": "=*{{ $json.plantilla_titulo }}*\n\n{{ $json.plantilla_subtitulo }}\n\nHola *{{ $json.nombres }}*, \n\n{{ $json.plantilla_descripcion }}\n\n📅 *Fecha de tu cita:* {{ $json.fecha_firma_formateada }}\n🏢 *Proyecto:* {{ $json.proyecto }}\n\n_Equipo Aybar Corp_\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        208
      ],
      "id": "83398b6f-eef2-495b-903a-6144df11b70f",
      "name": "enviar-mensaje-wsp",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "email"
            },
            {
              "name": "mensaje",
              "value": "={{ $node[\"formatear-contactos\"].json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        208
      ],
      "id": "3a5e10e9-7021-4f74-aecc-dd58c910e5a1",
      "name": "set-laravel-mensaje-1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fromEmail": "adm-response@aybarsac.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.asunto }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "5176146f-c5b8-4ba3-9caf-8a5729f80261",
      "name": "enviar-mensaje-email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "6e5759aa-8a62-453c-8574-9b49871395e1",
      "credentials": {
        "smtp": {
          "id": "nFrcmjvGHAuSVgqd",
          "name": "SMTP account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/entrega-fest/mensaje-historial",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $node[\"formatear-contactos\"].json.id }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"formatear-contactos\"].json.tipo }}"
            },
            {
              "name": "canal",
              "value": "email"
            },
            {
              "name": "mensaje",
              "value": "={{ $node[\"formatear-contactos\"].json.link }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        0
      ],
      "id": "656e87d6-eacb-4f62-82a1-d62bef326eeb",
      "name": "set-laravel-mensaje-2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -592,
        128
      ],
      "id": "c2cedadd-01fa-430e-9331-f1c6e46452d0",
      "name": "Wait",
      "webhookId": "a7db49ff-0ab5-4036-a492-76c81b6798ed"
    }
  ],
  "pinData": {},
  "connections": {
    "webhook-laravel": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatear-contactos": {
      "main": [
        [
          {
            "node": "enviar-mensaje-wsp",
            "type": "main",
            "index": 0
          },
          {
            "node": "enviar-mensaje-email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-wsp": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "enviar-mensaje-email": {
      "main": [
        [
          {
            "node": "set-laravel-mensaje-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "formatear-contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3e53eb5a-1366-4c0e-a503-e78f3aa1b1a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c433c71318b007b5f27973859b26f7f0e1a6fc93061cfcb9f59fb9bcba4cdc6f"
  },
  "id": "6JNBZyzBKiJ3O91B",
  "tags": []
}